.button {
    margin-top: 4px;
    padding: 6px 7px;
    display: block;
    width: 153px;
    height: 32px;
    background: $main-color;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    &_main {
        margin-top: 67px;
        padding: 12px 28px;
        width: 300px;
        height: 50px;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
    }
    &_submit {
        width: 300px;
        height: 55px;
        font-size: 16px;
        line-height: 25px;
    }
    &_buy {
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        width: 135px;
        height: 44px;
        font-size: 14px;
    }
}
