@media (max-width: 991px) {
    .header {
        &__logo {
            width: 230px;
        }
        &__official {
            font-size: 12px;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        min-height: 560px;
        padding: 20px 40px 50px 35px;
        &__wrapper {
            margin-top: 70px;
        }
        &__header {
            font-size: 40px;
            line-height: 40px;
        }
        &__subheader {
            margin-top: 15px;
            font-size: 20px;
            line-height: 20px;
        }
        &__icons {
            margin-top: 40px;
            width: 365px;
        }
        &__link {
            margin-top: 15px;
            font-size: 15px;
        }
    }
    .button {
        width: 140px;
        height: 30px;
        &_main {
            margin-top: 50px;
            width: 245px;
            height: 50px;
            font-size: 14px;
        }
    }
    .advantages {
        padding: 45px 5px;
        &__wrapper {
            margin-top: 40px;
        }
        &__item {
            width: 225px;
        }
        &__subtitle {
            margin-top: 25px;
            font-size: 17px;
        }
        &__descr {
            margin-top: 15px;
            font-size: 14px;
        }
    }
    .title {
        font-size: 27px;
    }
}