@media (max-width: 991px) {
    .header {
        &__logo {
            width: 230px;
        }
        &__official {
            font-size: 12px;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        min-height: 560px;
        padding: 20px 40px 50px 35px;
        &__wrapper {
            margin-top: 70px;
        }
        &__header {
            font-size: 40px;
            line-height: 40px;
        }
        &__subheader {
            margin-top: 15px;
            font-size: 20px;
            line-height: 20px;
        }
        &__icons {
            margin-top: 40px;
            width: 365px;
        }
        &__link {
            margin-top: 15px;
            font-size: 15px;
        }
    }
    .button {
        width: 140px;
        height: 30px;
        &_main {
            margin-top: 50px;
            width: 245px;
            height: 50px;
            font-size: 14px;
        }
        &_submit {
            width: 300px;
            height: 55px;
            font-size: 16px;
            line-height: 25px;
        }
    }
    .advantages {
        padding: 45px 5px;
        &__wrapper {
            margin-top: 40px;
        }
        &__item {
            width: 225px;
        }
        &__subtitle {
            margin-top: 25px;
            font-size: 17px;
        }
        &__descr {
            margin-top: 15px;
            font-size: 14px;
        }
    }
    .title {
        font-size: 27px;
        &_left {
            color: #FFFFFF;
            font-size: 34px;
            text-align: center;
            line-height: 50px;
        }
    }
    .consultation {
        min-height: 600px;
        padding: 80px 0 90px 0;
        &__descr {
            margin-top: 10px;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 19px;
            line-height: 25px;
            text-align: center;
        }
    }
    .feed-form {
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
            width: 300px;
            height: 50px;
            margin-bottom: 15px;
            border: none;
            border-radius: 5px;
            background: #FFFFFF;
            color: #4B4B4B;
            font-weight: 400;
            font-size: 15px;
            padding: 0 20px;
            &:nth-child(3) {
                margin-bottom: 25px;
            }
        }
    }
}